<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link type="image/x-icon" href="static/img-site/site_favicon.ico" rel="shortcut icon">
    <link type="Image/x-icon" href="static/img-site/site_favicon.ico" rel="icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}

    {% endblock %}
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include '/include/header.html' %}

    {% block main %}
    {% endblock %}

    {% include '/include/footer.html' %}
</body>
</html>
