{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block main %}
<main>
    <div class="main-page-content">
        <div class="info">
            <h2>Hello, i`m Nikita!</h2>
            <p>I am a teacher and Full-stack Python developer, my projects, resume, reviews, etc. can be found on this
                site.</p>
            <a href="/projects">View my projects</a>
            <a href="https://belorechensk.hh.ru/resume/8d2fe699ff0b2c7d070039ed1f476950567931">View resume</a>
        </div>
        <div class="main-photo">
            <img src="../static/img-site/homepage_pic.png" alt="">
        </div>
    </div>
</main>
{% endblock %}
